.calc-input {
  border: none;
  border-radius: none;
  border-bottom: 1px solid #ddd;
}

.calc-input:focus {
  border: none;
  border-radius: none;
  border-bottom: 1px solid #eee;
}

.submit-calc {
  border: none;
  border-radius: 10px;
  background-color: #3e3
}
